<%= form_tag('/upload') do %>
  <%= label_tag 'api_data[DateTime]', "Date time: "%>
  <%= datetime_field_tag 'api_data[DateTime]', DateTime.now %>
  <%= label_tag "api_data[Appetite]", "Appetite: " %>
  <%= text_field_tag "api_data[Appetite]", "Satisfied" %>
  <%= label_tag "api_data[Pulse]", "Pulse: " %>
  <%= text_field_tag "api_data[Pulse]", 100 %>
  <%= submit_tag "Post Metric" %>
<% end %>
</div>
