<div class="panel-group" id="accordion">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<a class="panel-toggle" data-toggle="collapse" data-target="#collapseAthlete" aria-expanded="true" aria-controls="collapseAthlete">
				<h2 class="panel-heading"> 
					Athlete Profile
				</h2>
			</a>
		</div>
	</div>
	<div id="collapseAthlete" class="panel panel-collapse collapse">
		<div class="panel-body">
			<h4>GET Athlete Profile</h4>
			<h5> This is an example of making a get request to "/v1/athlete/profile"</h5>
			<%= form_tag("/athlete/profile", method: :get) do %>
				<%= submit_tag "Get Profile", class: "btn btn-primary pull-right" %>
			<% end %>
		</div>
		<div class="panel-body">
			<h4>GET Athlete Zones</h4>
			<h5> This is an example of making a get request to "/v1/athlete/profile/zones"</h5>
			<%= form_tag("/athlete/zones", method: :get) do %>
				<%= submit_tag "Get Zones", class: "btn btn-primary pull-right" %>
			<% end %>
		</div>
		<div class="panel-body">
			<h4>GET Athlete Zones By Type</h4>
			<h5> This is an example of making a get request to "/v1/athlete/profile/zones/{zone_type}"</h5>
			<%= form_tag("/athlete/zones_by_type", method: :get) do %>
				<div class="form-row">
					<div class="form-group col-xs-3">
						<%= label_tag "type", "Type: " %>
						<%= select_tag "type", options_for_select(["heartrate", "power", "speed"]), class: "form-control" %>
					</div>
				</div>
				<%= submit_tag "Get Zones By Type", class: "btn btn-primary pull-right" %>
			<% end %>
		</div>
	</div>
</div>