<div class="panel-group" id="accordion">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<a class="panel-toggle" data-toggle="collapse" data-target="#collapseCoach" aria-expanded="true" aria-controls="collapseCoach">
				<h2 class="panel-heading"> 
					Coach
				</h2>
			</a>
		</div>
	</div>
	<div id="collapseCoach" class="panel panel-collapse collapse">
		<div class="panel-body">
			<h4> GET Coach Athletes </h4>
			<h5> This is an example of making a get request to "/v1/coach/athletes"</h5>
			<%= form_tag("/coach/athletes", method: :get) do %>
				<%= submit_tag "Get Athletes", class: "btn btn-primary pull-right" %>
			<% end %>
		</div>
			<div class="panel-body">
			<h4>GET Coached Athlete's Zones</h4>
			<h5> This is an example of making a get request to "/v1/coaches/athletes/{athlete_id}/zones"</h5>
			<%= form_tag("/coach/athlete_zones", method: :get) do %>
				<div class="form-row">
					<div class="form-group col-xs-2">
						<%= label_tag "athlete_id", "Athlete id: " %>
						<%= text_field_tag "athlete_id", "123456", class: "form-control" %>
					</div>
				</div>
				<%= submit_tag "Get Zones For Athlete", class: "btn btn-primary pull-right" %>
			<% end %>
		</div>
		<div class="panel-body">
			<h4>GET Coached Athlete's Zones By Type</h4>
			<h5> This is an example of making a get request to "/v1/coaches/athletes/{athlete_id}/zones/{zone_type}"</h5>
			<%= form_tag("/coach/athlete_zones_by_type", method: :get) do %>
				<div class="form-row">
					<div class="form-group col-xs-2">
						<%= label_tag "athlete_id", "Athlete id: " %>
						<%= text_field_tag "athlete_id", "123456", class: "form-control" %>
					</div>
					<div class="form-group col-xs-3">
						<%= label_tag "type", "Type: " %>
						<%= select_tag "type", options_for_select(["heartrate", "power", "speed"]), class: "form-control" %>
					</div>
				</div>
				<%= submit_tag "Get Zones For Athlete By Type", class: "btn btn-primary pull-right" %>
			<% end %>
		</div>
		<div class="panel-body">
			<h4>GET Coach Profile </h4>
			<h5> This is an example of making a get request to "/v1/coach/profile"</h5>
			<%= form_tag("/coach/profile", method: :get) do %>
				<%= submit_tag "Get Coach Profile", class: "btn btn-primary pull-right" %>
			<% end %>
		</div>
		<div class="panel-body">
			<h4>GET Assistant Coaches </h4>
			<h5> This is an example of making a get request to "/v1/coach/assistants"</h5>
			<%= form_tag("/coach/assistants", method: :get) do %>
				<%= submit_tag "Get Assistant Coaches", class: "btn btn-primary pull-right" %>
			<% end %>
		</div>
		<div class="panel-body">
			<h4>GET Assistant Coach </h4>
			<h5> This is an example of making a get request to "/v1/coach/assistants/12345"</h5>
			<%= form_tag("/coach/assistants_by_id", method: :get) do %>
				<div class="form-row">
					<div class="form-group col-xs-6">
						<%= label_tag "assistant_id", "Assistant Coach Id:  " %>
						<%= number_field_tag "assistant_id", "12345", class: "form-control" %>
					</div>
				</div>
				<%= submit_tag "Get Assistant Coach", class: "btn btn-primary pull-right" %>
			<% end %>
		</div>
		<div class="panel-body">
			<h4>GET Assistant Coaches Athletes </h4>
			<h5> This is an example of making a get request to "/v1/coach/assistants/12345/athletes"</h5>
			<%= form_tag("/coach/assistants_athletes", method: :get) do %>
				<div class="form-row">
					<div class="form-group col-xs-6">
						<%= label_tag "assistant_id", "Assistant Coach Id:  " %>
						<%= number_field_tag "assistant_id", "1", class: "form-control" %>
					</div>
				</div>
				<%= submit_tag "Get Assistant Coaches Athletes", class: "btn btn-primary pull-right" %>
			<% end %>
		</div>
	</div>
</div>