<div class="panel-group" id="accordion">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<a class="panel-toggle" data-toggle="collapse" data-target="#collapseEventRead" aria-expanded="true" aria-controls="collapseEventRead">
				<h2 class="panel-heading"> 
					Events Read
				</h2>
			</a>
		</div>
	</div>
	<div id="collapseEventRead" class="panel panel-collapse collapse">
		<div class="panel-body">
			<h4> GET Next Event </h4>
			<h5> This is an example of making a get request to "/v1/events/next"</h5>
			<%= form_tag("/events/next", method: :get) do %>
				<%= submit_tag "Get Next Event", class: "btn btn-primary pull-right" %>
			<% end %>
		</div>
		<div class="panel-body">
			<h4></h4>
			<h4> GET Events by Date </h4>
			<h5> This is an example of making a get request to "/v1/events/{date}"</h5>
			<%= form_tag("/events/by_date", method: :get) do %>
				<div class="form-row">
					<div class="form-group col-xs-6">
						<%= label_tag "date", "Date: " %>
						<%= date_field_tag "date", 1.day.ago.strftime("%Y-%m-%d"), class: "form-control" %>
					</div>
				</div>
				<%= submit_tag "Get Event By Date", class: "btn btn-primary pull-right"%>
			<% end %>
		</div>
	</div>
</div>