<div class="panel-group" id="accordion">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<a class="panel-toggle" data-toggle="collapse" data-target="#collapseMetrics" aria-expanded="true" aria-controls="collapseMetrics">
				<h2 class="panel-heading"> 
					Metrics
				</h2>
			</a>
		</div>
	</div>
	<div id="collapseMetrics" class="panel panel-collapse collapse">
		<div class="panel-body">
			<h4>POST Metrics</h4>
			<h5>This is an example of making a POST to "/v1/metrics"</h5>
			<%= form_tag("/metrics/add") do %>
				<div class="form-row">
					<div class="form-group col-xs-3">
						<%= label_tag "DateTime", "Date time: "%>
						<%= date_field_tag "DateTime", DateTime.now.strftime("%Y-%m-%d"), class: "form-control" %>
					</div>
					<div class="form-group col-xs-3">
						<%= label_tag "Appetite", "Appetite: " %>
						<%= text_field_tag "Appetite", "Satisfied", class: "form-control" %>
					</div>
					<div class="form-group col-xs-3">
						<%= label_tag "Pulse", "Pulse: " %>
						<%= text_field_tag "Pulse", "100", class: "form-control" %>
					</div>
					<div class="form-group col-xs-3">
						<%= label_tag "SleepElevationInMeters", "Sleep Elevation" %>
						<%= text_field_tag "SleepElevationInMeters", "5280", class: "form-control" %>
					</div>
				</div>
				<%= submit_tag "Post Metric", class: "btn btn-primary pull-right" %>
			<% end %>
		</div>
		<div class="panel-body">
			<h4>GET Metrics by date range</h4>
			<h5>This is an example of making a request to "/v1/metrics/{start_date}/{end_date}"</h5>
			<%= form_tag("/metrics/by_date", method: :get) do %>
				<div class="form-row">
					<div class="form-group col-xs-3">
						<%= label_tag "start_date", "Start Date: "%>
						<%= date_field_tag "start_date", DateTime.now.strftime("%Y-%m-%d"), class: "form-control" %>
					</div>
					<div class="form-group col-xs-3">
						<%= label_tag "end_date", "End Date: "%>
						<%= date_field_tag "end_date", DateTime.now.strftime("%Y-%m-%d"), class: "form-control" %>
					</div>
				</div>
				<%= submit_tag "Get Metrics", class: "btn btn-primary pull-right" %>
			<% end %>
		</div>
	</div>
</div>