<div class="panel-group" id="accordion">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<a class="panel-toggle" data-toggle="collapse" data-target="#collapseWorkoutRead" aria-expanded="true" aria-controls="collapseWorkoutRead">
				<h2 class="panel-heading"> 
					Workouts
				</h2>
			</a>
		</div>
	</div>
	<div id="collapseWorkoutRead" class="panel panel-collapse collapse">
		<div class="panel-body">
			<h4> GET Workouts </h4>
			<h5> This is an example of making a get request to "/v1/workouts/{start date}/{end date}"</h5>
			<%= form_tag('/workouts/by_date', method: :get) do %>
				<div class="form-row">
					<div class="form-group col-xs-6">
						<%= label_tag "start_date", "Start date: " %>
						<%= date_field_tag "start_date", 1.day.ago.strftime("%Y-%m-%d"), class: "form-control" %>
					</div>
					<div class="form-group col-xs-6">
						<%= label_tag "end_date", "End date: " %>
						<%= date_field_tag "end_date", DateTime.now.strftime("%Y-%m-%d"), class: "form-control" %>
					</div>
				</div>
				<%= submit_tag "Get Workout", class: "btn btn-primary pull-right" %>
			<% end %>
		</div>
		<div class="panel-body">
			<h4> GET Workouts </h4>
			<h5> This is an example of making a get request to "/v1/workouts/id/{id}"</h5>
			<%= form_tag("/workouts/by_id", method: :get) do %>
				<div class="form-row">
					<div class="form-group col-xs-6">
						<%= label_tag "id", "Id: " %>
						<%= number_field_tag "id", 12345, class: "form-control" %>
					</div>
				</div>
				<%= submit_tag "Get Workout By Id", class: "btn btn-primary pull-right" %>
			<% end %>
		</div>
		<div class="panel-body">
			<h4> DELETE Workouts </h4>
			<h5> This is an example of making a delete request to "/v1/workouts/id/{id}"</h5>
			<%= form_tag("/workouts/delete", method: :get) do %>
				<div class="form-row">
					<div class="form-group col-xs-6">
						<%= label_tag "id", "Id: " %>
						<%= number_field_tag "id", 12345, class: "form-control" %>
					</div>
				</div>
				<%= submit_tag "Delete Workout By Id", class: "btn btn-primary pull-right" %>
			<% end %>
		</div>
		<div class="panel-body">
			<h4> GET Workout MeanMaxes </h4>
			<h5> This is an example of making a get request to "/v1/workouts/id/{id}/meanmaxes"</h5>
			<%= form_tag("/workouts/meanmaxes", method: :get) do %>
				<div class="form-row">
					<div class="form-group col-xs-6">
						<%= label_tag "id", "Id: " %>
						<%= number_field_tag "id", 12345, class: "form-control" %>
					</div>
				</div>
				<%= submit_tag "Get Workout Mean Maxes", class: "btn btn-primary pull-right" %>
			<% end %>
		</div>
		<div class="panel-body">
			<h4> GET Workout Time in Zones </h4>
			<h5> This is an example of making a get request to "/v1/workouts/id/{id}/timeinzones"</h5>
			<%= form_tag("/workouts/timeinzones", method: :get) do %>
				<div class="form-row">
					<div class="form-group col-xs-6">
						<%= label_tag "id", "Id: " %>
						<%= number_field_tag "id", 12345, class: "form-control" %>
					</div>
				</div>
				<%= submit_tag "Get Workout Time In Zones", class: "btn btn-primary pull-right" %>
			<% end %>
		</div>
		<div class="panel-body">
			<h4> GET Workout Details Data </h4>
			<h5> This is an example of making a get request to "/v1/workouts/id/{id}/details"</h5>
			<%= form_tag("/workouts/details", method: :get) do %>
				<div class="form-row">
					<div class="form-group col-xs-6">
						<%= label_tag "id", "Id: " %>
						<%= number_field_tag "id", 12345, class: "form-control" %>
					</div>
				</div>
				<%= submit_tag "Get Workout Details", class: "btn btn-primary pull-right" %>
			<% end %>
		</div>
		<div class="panel-body">
			<h4> GET Workouts Changed Since Date </h4>
			<h5> This is an example of making a get request to "/v1/workouts/changes/{since date}"</h5>
			<%= form_tag("/workouts/since", method: :get) do %>
				<div class="form-row">
					<div class="form-group col-xs-4">
						<%= label_tag "since_date", "Last Modified Date: " %>
						<%= date_field_tag "since_date", 1.day.ago.strftime("%Y-%m-%d"), class: "form-control" %>
					</div>
					<div class="form-group col-xs-2">
						<%= label_tag "page_size", "Page Size: " %>
						<%= number_field_tag "page_size", 100, class: "form-control" %>
					</div>
					<div class="form-group col-xs-2">
						<%= label_tag "page", "Page: " %>
						<%= number_field_tag "page", 0, class: "form-control" %>
					</div>
				</div>
				<%= submit_tag "Get Workouts Since", class: "btn btn-primary pull-right" %>
			<% end %>
		</div>
	</div>
</div>