<div class="panel-group" id="accordion">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<a class="panel-toggle" data-toggle="collapse" data-target="#collapseWorkoutWod" aria-expanded="true" aria-controls="collapseWorkoutWod">
				<h2 class="panel-heading"> 
					Workout Of The Day
				</h2>
			</a>
		</div>
	</div>
	<div id="collapseWorkoutWod" class="panel panel-collapse collapse">
		<div class="panel-body">
			<h4> GET Structured Workout File </h4>
			<h5> This is an example of the making a get request to "/v1/workouts/wod/file/{workout id}/?format={format}" </h5>
			<h5> Supported file formats: "json", "fit", "erg","mrc","zwo" </h5>
			<%= form_tag("/wod/file", method: :get) do %>
				<div class="form-row">
					<div class="form-group col-xs-6">
						<%= label_tag "workout_id", "Workout id: " %>
						<%= text_field_tag "workout_id", "123456789", class: "form-control" %>
					</div>
					<div class="form-group col-xs-6">
						<%= label_tag "file_format", "File format: " %>
						<%= text_field_tag "file_format", "json", class: "form-control" %>
					</div>
				</div>
				<%= submit_tag "Get File", class: "btn btn-primary pull-right" %>
			<% end %>
		</div>

		<div class="panel-body">
			<h4> GET Workout of the day </h4>
			<h5> This is an example of making a get request to "/v1/workouts/wod/{date}"</h5>
			<%= form_tag("/wod/get", method: :get) do %>
				<%= submit_tag "Get Wod", class: "btn btn-primary pull-right" %>
			<% end %>
		</div>

		<div class="panel-body">
			<h4> GET Multiple Workouts of the day </h4>

			<h5> This is an example of making a get request to "/v1/workouts/wod/{date}?numberOfDays=4"</h5>
			<%= form_tag("/wod/get_multiple", method: :get) do %>
				<div class="form-row">
					<div class="form-group col-xs-6">
						<%= label_tag "number_of_days", "Number of Days:  " %>
						<%= number_field_tag "number_of_days", "1", class: "form-control" %>
					</div>
				</div>
				<%= submit_tag "Get Wods", class: "btn btn-primary pull-right" %>
			<% end %>
		</div>
	</div>
</div>