<div class="panel-group" id="accordion">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<a class="panel-toggle" data-toggle="collapse" data-target="#collapseWorkoutWrite" aria-expanded="true" aria-controls="collapseWorkoutWrite">
				<h2 class="panel-heading"> 
					Workout Plan
				</h2>
			</a>
		</div>
	</div>
	<div id="collapseWorkoutWrite" class="panel panel-collapse collapse">
		<div class="panel-body">
			<h4> POST Workout Plan</h4>
			<h5> This is an example of making a post request to "/v1/workouts/plan" </h5>
			<%= form_tag("/workouts/plan") do %>
				<div class="form-row">
					<div class="form-group col-xs-2">
						<%= label_tag "athleteid", "Athlete id: " %>
						<%= text_field_tag "athleteid", "123456", class: "form-control" %>
					</div>
					<div class="form-group col-xs-3">
						<%= label_tag "Title", "Title: " %>
						<%= text_field_tag "Title", "Example Plan", class: "form-control" %>
					</div>
					<div class="form-group col-xs-2">
						<%= label_tag "WorkoutDay", "Workout Day: " %>
						<%= date_field_tag "WorkoutDay", DateTime.now.strftime("%Y-%m-%d"), class: "form-control" %>
					</div>
					<div class="form-group col-xs-3">
						<%= label_tag "WorkoutType", "Workout  Type: " %>
						<%= text_field_tag "WorkoutType", "run", class: "form-control" %>
					</div>
					<div class="form-group col-xs-2">
						<%= label_tag "TotalTimePlanned", "Total Time Planned: " %>
						<%= text_field_tag "TotalTimePlanned", "1", class: "form-control" %>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-xs-2">
						<%= label_tag "hidden", "Hidden: " %>
						<%= text_field_tag "hidden", "false", class: "form-control" %>
					</div>
					<div class="form-group col-xs-2">
						<%= label_tag "locked", "Locked: " %>
						<%= text_field_tag "locked", "false", class: "form-control" %>
					</div>
					<div class="form-group col-xs-3">
						<%= label_tag "structure", "Structure: " %>
						<%= text_area_tag "structure", "", class: "form-control" %>
					</div>
				</div>
				<%= submit_tag "Post Plan", class: "btn btn-primary pull-right" %>
			<% end %>
		</div>
		<div class="panel-body">
			<h4> PUT Workout Plan</h4>
			<h5> This is an example of making a put request to "/v1/workouts/plan" </h5>
			<%= form_tag("/workouts/update") do %>
				<div class="form-group col-xs-2">
					<%= label_tag "Id", "Id" %>
					<%= text_field_tag "Id", "", class: "form-control" %>
				</div>
				<div class="form-group col-xs-2">
					<%= label_tag "AthleteId", "AthleteId" %>
					<%= text_field_tag "AthleteId", "", class: "form-control" %>
				</div>
				<div class="form-group col-xs-2">
					<%= label_tag "WorkoutType", "WorkoutType" %>
					<%= text_field_tag "WorkoutType", "", class: "form-control" %>
				</div>
				<div class="form-group col-xs-2">
					<%= label_tag "Title", "Title" %>
					<%= text_field_tag "Title", "", class: "form-control" %>
				</div>
				<div class="form-group col-xs-2">
					<%= label_tag "WorkoutDay", "WorkoutDay" %>
					<%= text_field_tag "WorkoutDay", "", class: "form-control" %>
				</div>
				<div class="form-group col-xs-2">
					<%= label_tag "StartTimePlanned", "StartTimePlanned" %>
					<%= text_field_tag "StartTimePlanned", "", class: "form-control" %>
				</div>
				<div class="form-group col-xs-2">
					<%= label_tag "DistancePlanned", "DistancePlanned" %>
					<%= text_field_tag "DistancePlanned", "", class: "form-control" %>
				</div>
				<div class="form-group col-xs-2">
					<%= label_tag "TotalTimePlanned", "TotalTimePlanned" %>
					<%= text_field_tag "TotalTimePlanned", "", class: "form-control" %>
				</div>
				<div class="form-group col-xs-2">
					<%= label_tag "CaloriesPlanned", "CaloriesPlanned" %>
					<%= text_field_tag "CaloriesPlanned", "", class: "form-control" %>
				</div>
				<div class="form-group col-xs-2">
					<%= label_tag "TssPlanned", "TssPlanned" %>
					<%= text_field_tag "TssPlanned", "", class: "form-control" %>
				</div>
				<div class="form-group col-xs-2">
					<%= label_tag "IFPlanned", "IFPlanned" %>
					<%= text_field_tag "IFPlanned", "", class: "form-control" %>
				</div>
				<div class="form-group col-xs-2">
					<%= label_tag "VelocityPlanned", "VelocityPlanned" %>
					<%= text_field_tag "VelocityPlanned", "", class: "form-control" %>
				</div>
				<div class="form-group col-xs-2">
					<%= label_tag "EnergyPlanned", "EnergyPlanned" %>
					<%= text_field_tag "EnergyPlanned", "", class: "form-control" %>
				</div>
				<div class="form-group col-xs-2">
					<%= label_tag "ElevationGainPlanned", "ElevationGainPlanned" %>
					<%= text_field_tag "ElevationGainPlanned", "", class: "form-control" %>
				</div>
				<div class="form-group col-xs-2">
					<%= label_tag "Rpe", "Rpe" %>
					<%= text_field_tag "Rpe", "", class: "form-control" %>
				</div>
				<div class="form-group col-xs-2">
					<%= label_tag "Feeling", "Feeling" %>
					<%= text_field_tag "Feeling", "", class: "form-control" %>
				</div>
				<div class="form-group col-xs-2">
					<%= label_tag "Description", "Description" %>
					<%= text_field_tag "Description", "", class: "form-control" %>
				</div>
				<div class="form-group col-xs-2">
					<%= label_tag "PreActivityComment", "PreActivityComment" %>
					<%= text_field_tag "PreActivityComment", "", class: "form-control" %>
				</div>
				<div class="form-group col-xs-2">
					<%= label_tag "Locked", "Locked" %>
					<%= text_field_tag "Locked", "", class: "form-control" %>
				</div>
				<div class="form-group col-xs-2">
					<%= label_tag "Hidden", "Hidden" %>
					<%= text_field_tag "Hidden", "", class: "form-control" %>
				</div>
				<div class="form-group col-xs-2">
					<%= label_tag "Structure", "Structure" %>
					<%= text_field_tag "Structure", "", class: "form-control" %>
				</div>
				<div class="form-group col-xs-2">
					<%= label_tag "Tags", "Tags" %>
					<%= text_field_tag "Tags", "", class: "form-control" %>
				</div>
			<%= submit_tag "Post Plan", class: "btn btn-primary pull-right" %>
			<% end %>
		</div>
	</div>
</div>