<h1>
	TrainingPeaks API Example
</h1>
<hr></hr>
<% if current_token.scope.include?("metrics:write") || current_token.scope.include?("metrics")   %>
	<div class="row">
		<h4>POST</h4>
		<h4>Post Metrics</h4>
		<h5>This is an example of making a POST to "/v1/metrics"</h5>
		<%= form_tag("/post") do %>
			<div class="form-row">
				<div class="form-group col-xs-3">
					<%= label_tag "api_data[DateTime]", "Date time: "%>
					<%= datetime_field_tag "api_data[DateTime]", DateTime.now, class: "form-control" %>
				</div>
				<div class="form-group col-xs-3">
					<%= label_tag "api_data[Appetite]", "Appetite: " %>
					<%= text_field_tag "api_data[Appetite]", "Satisfied", class: "form-control" %>
				</div>
				<div class="form-group col-xs-3">
					<%= label_tag "api_data[Pulse]", "Pulse: " %>
					<%= text_field_tag "api_data[Pulse]", "100", class: "form-control" %>
				</div>
				<div class="form-group col-xs-3">
					<%= label_tag "api_data[SleepElevationInMeters]", "Sleep Elevation" %>
					<%= text_field_tag "api_data[SleepElevationInMeters]", "5280", class: "form-control" %>
				</div>
			</div>
			<%= submit_tag "Post Metric", class: "btn btn-primary pull-right" %>
		<% end %>
	</div>
<% end %>

<% if current_token.scope.include?("file:write") || current_token.scope.include?("file") %>
	<div class="row">
		<h4>POST</h4>
		<h4>Upload a file</h4>
		<h5>This is an example of making a post request to "/v1/file"</h5>
		<%= form_tag("/post", multipart: true) do %>
			<div class="form-row">
				<div class="form-group col-xs-6">
					<%= label_tag "api_data[Data]", "Filename: " %>
					<%= file_field_tag "api_data[Data]", class: "form-control-file" %>
				</div>
				<div class="form-group col-xs-6">
					<%= label_tag "api_data[Title]", "Title: " %>
					<%= text_field_tag "api_data[title]", "", class: "form-control" %>
				</div>
			</div>
			<%= submit_tag "Post File", class: "btn btn-primary pull-right" %>
		<% end %>
	</div>
<% end %>

<% if current_token.scope.include?("workouts:read") || current_token.scope.include?("workouts") %>
	<div class="row">
		<h4>GET</h4>
		<h4> Workouts </h4>
		<h5> This is an example of making a get request to "/v1/workouts/{start date}/{end date}"</h5>
		<%= form_tag("/get", method: :get) do %>
			<div class="form-row">
				<div class="form-group col-xs-6">
					<%= label_tag "api_data[start_date]", "Start date: " %>
					<%= text_field_tag "api_data[start_date]", Time.local(2017,5,23).strftime("%Y-%m-%d"), class: "form-control" %>
				</div>
				<div class="form-group col-xs-6">
					<%= label_tag "api_data[end_date]", "End date: " %>
					<%= text_field_tag "api_data[end_date]", Time.local(2017,5,25).strftime("%Y-%m-%d"), class: "form-control" %>
				</div>
			</div>
			<%= submit_tag "Get Workout", class: "btn btn-primary pull-right" %>
		<% end %>
	</div>
<% end %>

<% if current_token.scope.include?("workouts:read") || current_token.scope.include?("workouts")%>
	<div class="row">
		<h4>GET</h4>
		<h4> Athlete Workouts </h4>
		<h5> This is an example of making a get request to "/v1/workouts/{athleteId}/{start date}/{end date}"</h5>
		<h5> Note: this method is intended to be used by coach accounts<h5>
		<%= form_tag("/get", method: :get) do %>
			<div class="form-row">
				<div class="form-group col-xs-4">
					<%= label_tag "api_data[athleteid]", "Athlete id: " %>
					<%= text_field_tag "api_data[athleteid]", "134129", class: "form-control" %>
				</div>
				<div class="form-group col-xs-4">
					<%= label_tag "api_data[start_date]", "Start date: " %>
					<%= text_field_tag "api_data[start_date]", Time.local(2017,5,23).strftime("%Y-%m-%d"), class: "form-control" %>
				</div>
				<div class="form-group col-xs-4">
					<%= label_tag "api_data[end_date]", "End date: " %>
					<%= text_field_tag "api_data[end_date]", Time.local(2017,5,25).strftime("%Y-%m-%d"), class: "form-control" %>
				</div>
			</div>
			<%= submit_tag "Get Athlete Workout", class: "btn btn-primary pull-right" %>
		<% end %>
	</div>
<% end %>

<% if current_token.scope.include?("workouts:read") || current_token.scope.include?("workouts")%>
	<div class="row">
		<h4>GET</h4>
		<h4> Workouts Changed Since Date </h4>
		<h5> This is an example of making a get request to "/v1/workouts/changes/{since date}"</h5>
		<%= form_tag("/get", method: :get) do %>
			<div class="form-row">
				<div class="form-group col-xs-4">
					<%= label_tag "api_data[since_date]", "Last Modified Date: " %>
					<%= text_field_tag "api_data[since_date]", 1.day.ago.strftime("%Y-%m-%d"), class: "form-control" %>
				</div>
				<div class="form-group col-xs-2">
					<%= label_tag "api_data[page_size]", "Page Size: " %>
					<%= number_field_tag "api_data[page_size]", 100, class: "form-control" %>
				</div>
				<div class="form-group col-xs-2">
					<%= label_tag "api_data[page]", "Page: " %>
					<%= number_field_tag "api_data[page]", 0, class: "form-control" %>
				</div>
			</div>
			<%= submit_tag "Get Workouts Since", class: "btn btn-primary pull-right" %>
		<% end %>
	</div>
<% end %>

<% if current_token.scope.include?("workouts:read") || current_token.scope.include?("workouts")%>
	<div class="row">
		<h4>GET</h4>
		<h4> Athletes Workouts Changed Since Date </h4>
		<h5> This is an example of making a get request to "/v1/workouts/{athleteId}/changes/{since date}"</h5>
		<h5> Note: this method is intended to be used by coach accounts<h5>
		<%= form_tag("/get", method: :get) do %>
			<div class="form-row">
				<div class="form-group col-xs-4">
					<%= label_tag "api_data[athleteid]", "Athlete id: " %>
					<%= text_field_tag "api_data[athleteid]", "134129", class: "form-control" %>
				</div>
				<div class="form-group col-xs-4">
					<%= label_tag "api_data[since_date]", "Since date: " %>
					<%= text_field_tag "api_data[since_date]", 1.day.ago.strftime("%Y-%m-%d"), class: "form-control" %>
				</div>
				<div class="form-group col-xs-2">
					<%= label_tag "api_data[page_size]", "Page Size: " %>
					<%= number_field_tag "api_data[page_size]", 100, class: "form-control" %>
				</div>
				<div class="form-group col-xs-2">
					<%= label_tag "api_data[page]", "Page: " %>
					<%= number_field_tag "api_data[page]", 0, class: "form-control" %>
				</div>
			</div>
			<%= submit_tag "Get Athlete Workouts Since", class: "btn btn-primary pull-right" %>
		<% end %>
	</div>
<% end %>

<% if current_token.scope.include?("events:read") || current_token.scope.include?("events") %>
	<div class="row">
		<h4>GET</h4>
		<h4> Athlete Next Event </h4>
		<h5> This is an example of making a get request to "/v1/events/next"</h5>
		<%= form_tag("/get", method: :get) do %>
			<%= submit_tag "Get Next Event", class: "btn btn-primary pull-right" %>
		<% end %>
	</div>
<% end %>

<% if current_token.scope.include?("events:read") || current_token.scope.include?("events") %>
	<div class="row">
		<h4>GET</h4>
		<h4> Athlete Events </h4>
		<h5> This is an example of making a get request to "/v1/events/{date}"</h5>
		<%= form_tag("/get", method: :get) do %>
			<div class="form-row">
				<div class="form-group col-xs-6">
					<%= label_tag "api_data[date]", "Date: " %>
					<%= text_field_tag "api_data[date]", 1.day.ago.strftime("%Y-%m-%d"), class: "form-control" %>
				</div>
			</div>
			<%= submit_tag "Get Event By Date", class: "btn btn-primary pull-right"%>
		<% end %>
	</div>
<% end %>

<% if current_token.scope.include?("workouts:wod") || current_token.scope.include?("workouts") %>
	<div class="row">
		<h4>GET</h4>
		<h4> Structured Workout File </h4>
		<h5> This is an example of the making a get request to "/v1/workouts/wod/file/{workout id}/?format={format}" </h5>
		<h5> Supported file formats: "json", "fit", "erg","mrc","zwo" </h5>
		<%= form_tag("/get", method: :get) do %>
			<div class="form-row">
				<div class="form-group col-xs-6">
					<%= label_tag "api_data[workout_id]", "Workout id: " %>
					<%= text_field_tag "api_data[workout_id]", "123456789", class: "form-control" %>
				</div>
				<div class="form-group col-xs-6">
					<%= label_tag "api_data[file_format]", "File format: " %>
					<%= text_field_tag "api_data[file_format]", "json", class: "form-control" %>
				</div>
			</div>
			<%= submit_tag "Get File", class: "btn btn-primary pull-right" %>
		<% end %>
	</div>

	<div class="row">
		<h4>GET</h4>
		<h4> Workout of the day </h4>
		<h5> This is an example of making a get request to "/v1/workouts/wod/{date}"</h5>
		<%= form_tag("/get", method: :get) do %>
			<%= submit_tag "Get Wod", class: "btn btn-primary pull-right" %>
		<% end %>
	</div>

	<div class="row">
		<h4>GET</h4>
		<h4> Multiple Workouts of the day </h4>

		<h5> This is an example of making a get request to "/v1/workouts/wod/{date}?numberOfDays=4"</h5>
		<%= form_tag("/get", method: :get) do %>
			<div class="form-row">
				<div class="form-group col-xs-6">
					<%= label_tag "api_data[number_of_days]", "Number of Days:  " %>
					<%= number_field_tag "api_data[number_of_days]", "1", class: "form-control" %>
				</div>
			</div>
			<%= submit_tag "Get Wods", class: "btn btn-primary pull-right" %>
		<% end %>
	</div>
	<% end %>

<% if current_token.scope.include?("workouts:plan") || current_token.scope.include?("workouts")  %>
<div class="row">
	<h4>Post</h4>
	<h4> Workout Plan</h4>
	<h5> This is an example of making a post request to "/v1/workouts/plan" </h5>
	<%= form_tag("/post") do %>
		<div class="form-row">
			<div class="form-group col-xs-2">
				<%= label_tag "api_data[athleteid]", "Athlete id: " %>
				<%= text_field_tag "api_data[athleteid]", "123456", class: "form-control" %>
			</div>
			<div class="form-group col-xs-3">
				<%= label_tag "api_data[Title]", "Title: " %>
				<%= text_field_tag "api_data[Title]", "Example Plan", class: "form-control" %>
			</div>
			<div class="form-group col-xs-2">
				<%= label_tag "api_data[WorkoutDay]", "Workout Day: " %>
				<%= text_field_tag "api_data[WorkoutDay]", DateTime.now, class: "form-control" %>
			</div>
			<div class="form-group col-xs-3">
				<%= label_tag "api_data[WorkoutType]", "Workout  Type: " %>
				<%= text_field_tag "api_data[WorkoutType]", "run", class: "form-control" %>
			</div>
			<div class="form-group col-xs-2">
				<%= label_tag "api_data[TotalTimePlanned]", "Total Time Planned: " %>
				<%= text_field_tag "api_data[TotalTimePlanned]", "1", class: "form-control" %>
			</div>
		</div>
		<%= submit_tag "Post Plan", class: "btn btn-primary pull-right" %>
	<% end %>
</div>
<% end %>
<% if current_token.scope.include?("events:write") || current_token.scope.include?("events")  %>
	<div class="row">
		<h4>Post</h4>
		<h4> Event</h4>
		<h5> This is an example of making a post request to "/v1/events" </h5>
		<%= form_tag("/post") do %>
		<div class="form-row">
			<div class="form-group col-xs-2">
				<%= label_tag "api_data[athleteid]", "Athlete id: " %>
				<%= text_field_tag "api_data[athleteid]", "123456", class: "form-control" %>
			</div>
			<div class="form-group col-xs-3">
				<%= label_tag "api_data[Name]", "Name: " %>
				<%= text_field_tag "api_data[Name]", "Event Name", class: "form-control" %>
			</div>
			<div class="form-group col-xs-2">
				<%= label_tag "api_data[EventDate]", "Event Day: " %>
				<%= text_field_tag "api_data[EventDate]", DateTime.now + 1, class: "form-control" %>
			</div>
			<div class="form-group col-xs-2">
				<%= label_tag "api_data[EventType]", "Workout  Type: " %>
				<%= text_field_tag "api_data[EventType]", "Cycling", class: "form-control" %>
			</div>
			<div class="form-group col-xs-3">
				<%= label_tag "api_data[Description]", "Description: " %>
				<%= text_field_tag "api_data[Description]", "", class: "form-control" %>
			</div>
		</div>
		<%= submit_tag "Post Event", class: "btn btn-primary pull-right" %>
		<% end %>
	</div>
<% end %>
<% if current_token.scope.include?("athlete:profile") || current_token.scope.include?("athlete")  %>
	<div class="row">
		<h4>GET</h4>
		<h4>Athlete Profile</h4>
		<h5> This is an example of making a get request to "/v1/athlete/profile"</h5>
		<%= form_tag("/get", method: :get) do %>
			<%= submit_tag "Get Profile", class: "btn btn-primary pull-right" %>
		<% end %>
	</div>
	<div class="row">
		<h4>GET</h4>
		<h4>Athlete Zones</h4>
		<h5> This is an example of making a get request to "/v1/athlete/profile/zones"</h5>
		<%= form_tag("/get", method: :get) do %>
			<%= submit_tag "Get Zones", class: "btn btn-primary pull-right" %>
		<% end %>
	</div>
	<div class="row">
		<h4>GET</h4>
		<h4>Athlete Zones By Type</h4>
		<h5> This is an example of making a get request to "/v1/athlete/profile/zones/{zone_type}"</h5>
		<%= form_tag("/get", method: :get) do %>
			<div class="form-row">
				<div class="form-group col-xs-3">
					<%= label_tag "api_data[type]", "Type: " %>
					<%= select_tag "api_data[type]", options_for_select(["heartrate", "power", "speed"]), class: "form-control" %>
				</div>
			</div>
			<%= submit_tag "Get Zones By Type", class: "btn btn-primary pull-right" %>
		<% end %>
	</div>

<% end %>

<% if current_token.scope.include?("coach:athletes") || current_token.scope.include?("coach")  %>
	<div class="row">
		<h4>GET</h4>
		<h4> Coach Athletes </h4>
		<h5> This is an example of making a get request to "/v1/coach/athletes"</h5>
		<%= form_tag("/get", method: :get) do %>
			<%= submit_tag "Get Athletes", class: "btn btn-primary pull-right" %>
		<% end %>
	</div>
		<div class="row">
		<h4>GET</h4>
		<h4>Coached Athlete's Zones</h4>
		<h5> This is an example of making a get request to "/v1/coaches/athletes/{athlete_id}/zones"</h5>
		<%= form_tag("/get", method: :get) do %>
			<div class="form-row">
				<div class="form-group col-xs-2">
					<%= label_tag "api_data[athleteid]", "Athlete id: " %>
					<%= text_field_tag "api_data[athleteid]", "123456", class: "form-control" %>
				</div>
			</div>

			<%= submit_tag "Get Zones For Athlete", class: "btn btn-primary pull-right" %>
		<% end %>
	</div>
	<div class="row">
		<h4>GET</h4>
		<h4>Coached Athlete's Zones By Type</h4>
		<h5> This is an example of making a get request to "/v1/coaches/athletes/{athlete_id}/zones/{zone_type}"</h5>
		<%= form_tag("/get", method: :get) do %>
			<div class="form-row">
				<div class="form-group col-xs-2">
					<%= label_tag "api_data[athleteid]", "Athlete id: " %>
					<%= text_field_tag "api_data[athleteid]", "123456", class: "form-control" %>
				</div>
				<div class="form-group col-xs-3">
					<%= label_tag "api_data[type]", "Type: " %>
					<%= select_tag "api_data[type]", options_for_select(["heartrate", "power", "speed"]), class: "form-control" %>
				</div>
			</div>
			<%= submit_tag "Get Zones For Athlete By Type", class: "btn btn-primary pull-right" %>
		<% end %>
	</div>
	<div class="row">
		<h4>GET</h4>
		<h4> Coach Profile </h4>
		<h5> This is an example of making a get request to "/v1/coach/profile"</h5>
		<%= form_tag("/get", method: :get) do %>
			<%= submit_tag "Get Coach Profile", class: "btn btn-primary pull-right" %>
		<% end %>
	</div>
	<div class="row">
		<h4>GET</h4>
		<h4> Assistant Coaches </h4>
		<h5> This is an example of making a get request to "/v1/coach/assistants"</h5>
		<%= form_tag("/get", method: :get) do %>
			<%= submit_tag "Get Assistant Coaches", class: "btn btn-primary pull-right" %>
		<% end %>
	</div>
	<div class="row">
		<h4>GET</h4>
		<h4> Assistant Coach </h4>
		<h5> This is an example of making a get request to "/v1/coach/assistants/12345"</h5>
		<%= form_tag("/get", method: :get) do %>
			<div class="form-row">
				<div class="form-group col-xs-6">
					<%= label_tag "api_data[assistant_id]", "Assistant Coach Id:  " %>
					<%= number_field_tag "api_data[assistant_id]", "12345", class: "form-control" %>
				</div>
			</div>
			<%= submit_tag "Get Assistant Coach", class: "btn btn-primary pull-right" %>
		<% end %>
	</div>
	<div class="row">
		<h4>GET</h4>
		<h4> Assistant Coaches Athletes </h4>
		<h5> This is an example of making a get request to "/v1/coach/assistants/12345/athletes"</h5>
		<%= form_tag("/get", method: :get) do %>
			<div class="form-row">
				<div class="form-group col-xs-6">
					<%= label_tag "api_data[assistant_id]", "Assistant Coach Id:  " %>
					<%= number_field_tag "api_data[assistant_id]", "1", class: "form-control" %>
				</div>
			</div>
			<%= submit_tag "Get Assistant Coaches Athletes", class: "btn btn-primary pull-right" %>
		<% end %>
	</div>
<% end %>
<div class="row">
	<h4>Deauth</h4>
	<h5>This is an example of calling into oauth.trainingpeaks.com/Oauth/Deauthorize</h5>
	<a class="btn btn-danger pull-right" href="/oauth/deauth">deauth</a>
</div>