<h1>
	TrainingPeaks API Example
</h1>
<hr></hr>
<% if current_token.scope.include?("metrics:write") || current_token.scope.include?("metrics")   %>
	<% if current_token.scope.include?("coach:athletes") || current_token.scope.include?("coach")  %>
		<%= render "metrics_for_coach" %>
	<% else %>
		<%= render "metrics" %>
	<% end %>
<% end %>

<% if current_token.scope.include?("file:write") || current_token.scope.include?("file") %>
	<%= render "file" %>
<% end %>

<% if current_token.scope.include?("workouts:read") || current_token.scope.include?("workouts") %>
	<% if current_token.scope.include?("coach:athletes") || current_token.scope.include?("coach")  %>
		<%= render "workouts_read_for_coach" %>
	<% else %>
		<%= render "workouts_read" %>
	<% end %>
<% end %>

<% if current_token.scope.include?("events:read") || current_token.scope.include?("events") %>
	<%= render "events_read" %>
<% end %>

<% if current_token.scope.include?("events:write") || current_token.scope.include?("events")  %>
	<%= render "events_write" %>
<% end %>

<% if current_token.scope.include?("workouts:wod") || current_token.scope.include?("workouts") %>
	<%= render "workouts_wod" %>
<% end %>

<% if current_token.scope.include?("workouts:plan") || current_token.scope.include?("workouts")  %>
	<%= render "workouts_write" %>
<% end %>

<% if current_token.scope.include?("athlete:profile") || (current_token.scope.include?("athlete") && !current_token.scope.include?("coach")) %>
	<%= render "athlete" %>
<% end %>

<% if current_token.scope.include?("coach:athletes") || current_token.scope.include?("coach")  %>
	<%= render "coach" %>
<% end %>

<div class="row">
	<h4>Deauth</h4>
	<h5>This is an example of calling into oauth.trainingpeaks.com/Oauth/Deauthorize</h5>
	<a class="btn btn-danger pull-right" href="/oauth/deauth">deauth</a>
</div>
