<% if current_token.scope.include?("metrics:write")  %>
  <div>
    <h4>POST</h4>
    <h4>Post Metrics</h4>
    <h4>This is an example of making a POST to "/v1/metrics"</h4>
    <%= form_tag("/post") do %>
      <%= label_tag "api_data[DateTime]", "Date time: "%>
      <%= datetime_field_tag "api_data[DateTime]", DateTime.now %>
      <%= label_tag "api_data[Appetite]", "Appetite: " %>
      <%= text_field_tag "api_data[Appetite]", "Satisfied" %>
      <%= label_tag "api_data[Pulse]", "Pulse: " %>
      <%= text_field_tag "api_data[Pulse]", "100" %>
      <%= label_tag "api_data[SleepElevationInMeters]", "Sleep Elevation" %>
      <%= text_field_tag "api_data[SleepElevationInMeters]", "5280" %>
      <%= submit_tag "Post Metric" %>
    <% end %>
  </div>
<% end %>

<% if current_token.scope.include?("file:write") %>
  <div>
    <h4>POST</h4>
    <h4>Upload a file</h4>
    <h4>This is an example of making a post request to "/v1/file"</h4>
    <%= form_tag("/post") do %>
      <%= label_tag "api_data[Filename]", "Filename: " %>
      <%= text_field_tag "api_data[Filename]", "Example File Name" %>
      <%= hidden_field_tag "api_data[Data]", "<?xml version=\"1.0\" encoding=\"UTF-8\"?><pwx creator=\"TPM OAuth Test\"><workout><sportType>Run</sportType><cmt>Garmin FR910XT </cmt><device id=\"\"><make>Garmin</make><model>FR910XT</model></device><time>2017-05-24T12:00:00</time><summarydata><beginning>0.000</beginning><duration>3600.00</duration><durationstopped>0</durationstopped><dist>15000.0</dist></summarydata></workout></pwx>" %>
      <%= submit_tag "Post File" %>
    <% end %>
  </div>
<% end %>

<% if current_token.scope.include?("workouts:read") %>
  <div>
    <h4>GET</h4>
    <h4> Workouts </h4>
    <h4> This is an example of making a get request to "/v1/workouts/{start date}/{end date}"</h4>
    <%= form_tag("/get", method: :get) do %>
      <%= label_tag "api_data[start_date]", "Start date: " %>
      <%= text_field_tag "api_data[start_date]", Time.local(2017,5,23).strftime("%Y-%m-%d") %>
      <%= label_tag "api_data[end_date]", "End date: " %>
      <%= text_field_tag "api_data[end_date]", Time.local(2017,5,25).strftime("%Y-%m-%d") %>
      <%= submit_tag "Get Workout" %>
    <% end %>
  </div>
<% end %>

<% if current_token.scope.include?("workouts:wod") %>
  <div>
    <h4>GET</h4>
    <h4> Structured Workout File </h4>
    <h4> This is an example of the making a get request to "/v1/workouts/wod/file/{workout id}/?format={format}" </h4>
    <h4> Supported file formats: "erg","fit","mrc","zwo" </h4>
    <%= form_tag("/get", method: :get) do %>
      <%= label_tag "api_data[workout_id]", "Workout id: " %>
      <%= text_field_tag "api_data[workout_id]", "425421628" %>
      <%= label_tag "api_data[file_format]", "File format: " %>
      <%= text_field_tag "api_data[file_format]", "mrc" %>
      <%= submit_tag "Get File" %>
    <% end %>
  </div>

  <div>
    <h4>GET</h4>
    <h4> Workout of the day </h4>
    <h4> This is an example of make a get request to "/v1/workouts/{date}"</h4>
    <%= form_tag("/get", method: :get) do %>
      <%= label_tag "Click to get today's workout: " %>
      <%= submit_tag "Get Wod" %>
    <% end %>
  </div>
  <% end %>

<% if current_token.scope.include?("workouts:plan") %>
<div>
  <h4>Post</h4>
  <h4> Workout Plan</h4>
  <h4> This is an example of the making a post request to "/v1/workouts/plan" </h4>
  <%= form_tag("/post") do %>
    <%= label_tag "api_data[AthleteId]", "Athlete id: " %>
    <%= text_field_tag "api_data[AthleteId]", "134129" %>
    <%= label_tag "api_data[Title]", "Title: " %>
    <%= text_field_tag "api_data[Title]", "Example Plan" %>
    <%= label_tag "api_data[WorkoutDay]", "Workout Day: " %>
    <%= text_field_tag "api_data[WorkoutDay]", DateTime.now %>
    <%= label_tag "api_data[WorkoutType]", "Workout  Type: " %>
    <%= text_field_tag "api_data[WorkoutType]", "run" %>
    <%= label_tag "api_data[TotalTimePlanned]", "Total Time Planned: " %>
    <%= text_field_tag "api_data[TotalTimePlanned]", "1" %>
    <%= submit_tag "Post Plan" %>
  <% end %>
</div>
<% end %>

<% if current_token.scope.include?("athlete:profile") %>
  <div>
    <h4>GET</h4>
    <h4> Athlete profile </h4>
    <h4> This is an example of making a get request to "/v1/athlete/profile"</h4>
    <%= form_tag("/get", method: :get) do %>
      <%= submit_tag "Get Profile" %>
    <% end %>
  </div>
<% end %>

<% if current_token.scope.include?("coach:athletes") %>
  <div>
    <h4>GET</h4>
    <h4> Coach Athletes </h4>
    <h4> This is an example of making a get request to "/v1/coach/athletes"</h4>
    <%= form_tag("/get", method: :get) do %>
      <%= submit_tag "Get Athletes" %>
    <% end %>
  </div>
<% end %>

<% if current_token.scope.include?("coach:athletes") %>
  <div>
    <h4>GET</h4>
    <h4> Athletes </h4>
    <h4> This is an example of making a get request to "/v1/coach/athletes"</h4>
    <%= form_tag("/get", method: :get) do %>
      <%= submit_tag "Get Athletes" %>
    <% end %>
  </div>
<% end %>
