<%= form_tag('/upload') do %>
  <%= label_tag :date_time, "Date time: "%>
  <%= datetime_field_tag :date_time, DateTime.now %>
  <%= label_tag :upload_client, "Client ID: " %>
  <%= text_field_tag :upload_client, 'quantisync' %>
  <%= label_tag :appetite, "Metric: " %>
  <%= text_field_tag :appetite, "Satisfied" %>
  <%= submit_tag "Post Metric" %>
<% end %>
</div>
