<div>
  <%= form_tag('/retrieve') do %>
    <%= label_tag "api_data[Start_date]", "Start date: " %>
    <%= text_field_tag "api_data[Start_date]", Time.local(2017,5,23).strftime("%Y-%m-%d") %>
    <%= label_tag "api_data[End_date]", "End date: " %>
    <%= text_field_tag "api_data[End_date]", Time.local(2017,5,25).strftime("%Y-%m-%d") %>
    <%= submit_tag "Get Workout" %>
  <% end %>
</div>
