<div>
  <%= form_tag('/retrieve') do %>
    <%= label_tag "api_data[Start_date]", "Start date: " %>
    <%= text_field_tag "api_data[Start_date]", Time.local(2017,5,23).strftime("%Y-%m-%d") %>
    <%= label_tag "api_data[End_date]", "End date: " %>
    <%= text_field_tag "api_data[End_date]", Time.local(2017,5,25).strftime("%Y-%m-%d") %>
    <%= submit_tag "Get Workout" %>
  <% end %>
</div>
<div>
  <%= form_tag('/retrieve') do %>
    <%= label_tag "api_data[workout_id]", "Workout id: " %>
    <%= text_field_tag "api_data[workout_id]", "425421628" %>
    <%= label_tag "api_data[file_format]", "File format: " %>
    <%= text_field_tag "api_data[file_format]", "mrc" %>
    <%= submit_tag "Get File" %>
  <% end %>
</div>
<div>
  <%= form_tag('/retrieve') do %>
    <%= label_tag "Click to get today's workout: " %>
    <%= submit_tag "Get Wod" %>
  <% end %>
</div>
